<div id="<%= dom_id property %>">
  <p>
    <strong>Description:</strong>
    <%= property.descrption %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= property.address %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= property.price %>
  </p>

  <p>
    <strong>Rooms:</strong>
    <%= property.rooms %>
  </p>

  <p>
    <strong>Bathrooms:</strong>
    <%= property.bathrooms %>
  </p>

</div>
