

<div class="container mt-4">
<ul >
  <%= image_tag @property.image, style: "width:500px"%>
<li class="mt-2"><p>Location: <%= @property.address %></p></li>
<li><p>Price: $<%= @property.price %></p><li>
<li><p>Rooms: <%= @property.rooms %></p><li>
<li><p>Bathrooms: <%= @property.bathrooms %></p></li>
<li ><p>Description: <%= @property.description %></p></li>
<li ><p>Contact Phone: <%= @property.phone %></p></li>
<li ><p>Contact Email: <%= @property.email %></p></li>
</ul>
<div class="d-flex">
  <%= link_to "Edit Property", edit_property_path(@property), class:"btn btn-outline-primary" %> 
  <%= button_to "Delete Property", @property, method: :delete, class:" btn btn-outline-danger mx-2" %>
  <%= link_to "Properties", properties_path, class:"btn btn-outline-secondary" %>
</div>
</div>