<p style="color: green"><%= notice %></p>

<div class="container">
<%= render @property %>
<div>
  <%= link_to "Edit property", edit_property_path(@property), class:"btn btn-outline-primary" %> 
  <%= link_to "Cancel", properties_path, class:"btn btn-outline-secondary" %>
  <%= button_to "Delete property", @property, method: :delete, class:" btn btn-outline-danger" %>
</div>
</div>