<p style="color: green"><%= notice %></p>

<div class="property-index">

<%= render @property %>

<div>
  <%= link_to "Edit this property", edit_property_path(@property), class:"text-primary text-decoration-none" %> |
  <%= link_to "Back to properties", properties_path, class:"text-primary text-decoration-none" %>

  <%= button_to "Delete this property", @property, method: :delete, class:"destroy-btn text-danger" %>
</div>
</div>