<div class="container text-center border-0 shadow-lg  bg-white bg-light rounded-5">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class=" container wrap-login100">

<div class="login100-pic js-tilt" >
<%= image_tag("login-image") %>
</div>
<div class="login100-form validate-form">
<span class="login100-form-title">
Member Login
</span>

<div class="field wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

    <%= f.email_field :email, autofocus: true,placeholder: 'EMAIL ADDRESS',class:" input100" %>
<span class="focus-input100"></span>
<span class="symbol-input100">
<i class="fa fa-envelope" aria-hidden="true"></i>
</span>
</div>
<div class="field wrap-input100 validate-input" data-validate="Password is required">

    <%= f.password_field :password,placeholder: 'PASSWORD',class:" input100" %>
<span class="focus-input100"></span>
<span class="symbol-input100">
<i class="fa fa-lock" aria-hidden="true"></i>
</span>
</div>
 <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
<div class="actions ">
    <%= f.submit "Log In", class:"login100-form-btn" %>
</div>

<div class="text-center p-t-12">
<%= render "devise/shared/links" %>
</div>
</div>
</div>
<% end %>
</div>


